@import "/styles/mixins";
.wrapper {
  position: fixed;
  right: 10px;
  top: 70%;
  z-index: 2;
}
.activeWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  z-index: 10;
  overflow-y: auto;
  top: 0;
  right: 0;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 24px 36px -9px rgba(0, 0, 0, 0.1);
  z-index: 100;
  h4 {
    @include font(700, #181818, 15px);
    margin: 8px 0;
  }
  .text {
    @include font(400, #181818, 14px);
  }
  form {
    width: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    .formItem {
      margin: 4px 0;
    }
    input, textarea, label {
      @include font(400, #000, 14px);
      width: 100%;
      padding: 12px 16px;
      border: 1px solid #D4E3FF;
      border-radius: 16px;
      resize: none;
      max-height: 44px;
    }
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        @include font(400, #8B96B1, 14px);
      }
    }
    button {
      width: 100%;
      padding: 8px 20px;
      border-radius: 16px;
      border: none;
      @include font(400, #fff, 14px);
      background-color: #054EDB;
      margin: 4px 0;
    }
    input[type=file] {
      display: none;
    }
    :global .flag-dropdown {
      background: transparent;
      border: none;
    }
    :global .form-control {
      width: 100%;
      height: auto;
      font-size: 14px;
      margin: 4px 0;
      border: 1px solid #D4E3FF;
      border-radius: 16px;
    }
  }
  .close {
    padding: 8px 20px;
    line-height: 150%;
    margin-top: 8px;
    border: 1px solid #D4E3FF;
    @include font(400, #032D80, 14px);
    box-shadow: 0px 24px 36px -9px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background: transparent;
  }
}

.phoneIcon {
  position: absolute;
  width: 68px;
  height: 68px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
  @media (max-width: 800px) {
    display: none;
  }
}