@import "../mixins";

.wrapper {
  padding: 12px 0 36px 0;
  flex: 1;
}

.content {

  > h3 {
    margin-top: 40px;
    @include font(700, #181818, 20px);
    line-height: 24px;
  }

  .newsWrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 12px;
    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
    }
    .item1 {
      grid-area: 1 / 1 / 3 / 3;

      h3 {
        font-size: 20px;
        max-height: 90px;
      }

      p {
        margin: 16px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 63px;
        @media (max-width: 576px) {
          display: none;
        }
      }
    }

    .item2 {
      grid-area: 1 / 3 / 2 / 4;
    }

    .item3 {
      grid-area: 1 / 4 / 2 / 5;
    }

    .item4 {
      grid-area: 2 / 3 / 3 / 4;
    }

    .item5 {
      grid-area: 2 / 4 / 3 / 5;
    }

    .item6 {
      grid-area: 3 / 1 / 4 / 2;
    }

    .item7 {
      grid-area: 3 / 2 / 4 / 3;
    }

    .item8 {
      grid-area: 3 / 3 / 4 / 4;
    }

    .item9 {
      grid-area: 3 / 4 / 4 / 5;
    }

    .item10 {
      grid-area: 4 / 1 / 5 / 2;
    }

    .item11 {
      grid-area: 4 / 2 / 5 / 3;
    }

    .item12 {
      grid-area: 5 / 1 / 6 / 2;
    }

    .item13 {
      grid-area: 5 / 2 / 6 / 3;
    }

    .item14 {
      grid-area: 4 / 3 / 6 / 5;

      h3 {
        font-size: 20px;
        max-height: 90px;
      }

      p {
        margin: 16px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 63px;
        @media (max-width: 576px) {
          display: none;
        }
      }
    }
  }
}