@import "/styles/mixins";
.wrapper {
  width: 100%;
  padding: 32px 0;
  background-color: #F5F5F5;
  h3 {
    @include font(bold, #171717, 24px);
    line-height: 29px;
  }
}

.content {
  margin: 8px auto 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.seeAll {
  @include font(400, #fff, 14px);
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 224px;
  height: 44px;
  padding: 8px 20px;
  background-color: #054EDB;
  border: none;
  border-radius: 16px;
  margin: 30px auto 0 auto;
}
.loaderWrapper {
  width: calc(25% - 20px);
  margin: 12px 6px 0 6px;
  @media (max-width: 576px) {
    width: calc(50% - 12px);
  }
}