@import "/styles/mixins";
.wrapper {
  width: 100%;
  padding: 20px 0 40px 0;
  flex: 1;
  @media (max-width: 768px) {
    :global .container {
      max-width: 100%;
    }
  }
}
.content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
  .about {
    width: calc(100% - 236px);
    padding: 24px 16px;
    background-color: #fff;
    border-radius: 16px;
    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
    h3 {
      @include font(700, #181818, 20px);
      margin-bottom: 20px;
    }
    p {
      margin-top: 35px;
      @include font(400, #181818, 14px);
    }
    img {
      border-radius: 16px;
    }
    :global .slick-dots li button {
      &:before {
        color: #CDDAF1;
        font-size: 8px;
      }
    }
    :global li.slick-active button {
      &:before {
        color: #054EDB;
      }
    }
  }
}
